<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="auth/login.html" />
            </files>
        </defaultDocument>
        
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        
        <rewrite>
            <rules>
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^(css|js|images|assets|auth|existing-portal|dashboards|shared|home)/" />
                    <action type="None" />
                </rule>
                <rule name="NodeJS" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        
        <staticContent>
            <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>
        
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
                <fileExtensions>
                    <add fileExtension=".xlsx" allowed="true" />
                    <add fileExtension=".xls" allowed="true" />
                    <add fileExtension=".pdf" allowed="true" />
                    <add fileExtension=".doc" allowed="true" />
                    <add fileExtension=".docx" allowed="true" />
                    <add fileExtension=".ppt" allowed="true" />
                    <add fileExtension=".pptx" allowed="true" />
                    <add fileExtension=".zip" allowed="true" />
                    <add fileExtension=".rar" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="404" path="/auth/login.html" responseMode="ExecuteURL" />
            <error statusCode="500" path="/auth/login.html" responseMode="ExecuteURL" />
        </httpErrors>
        
        <iisnode 
            node_env="production"
            nodeProcessCountPerApplication="1"
            maxConcurrentRequestsPerProcess="1024"
            maxNamedPipeConnectionRetry="3"
            namedPipeConnectionRetryDelay="2000"
            maxNamedPipeConnectionPoolSize="512"
            maxNamedPipePooledConnectionAge="30000"
            asyncCompletionThreadCount="0"
            initialRequestBufferSize="4096"
            maxRequestBufferSize="65536"
            watchedFiles="*.js;*.json"
            uncFileChangesPollingInterval="5000"
            gracefulShutdownTimeout="60000"
            loggingEnabled="true"
            logDirectoryNameSuffix="logs"
            debuggingEnabled="false"
            devErrorsEnabled="false"
            flushResponse="false"
            enableXFF="false"
            promoteServerVars=""
            configOverrides="iisnode.yml"
        />
        
        <directoryBrowse enabled="false" />
        
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".xlsx" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".xls" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-999" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
    
    <system.web>
        <compilation debug="false" />
        <httpRuntime maxRequestLength="102400" executionTimeout="300" />
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    
    <appSettings>
        <add key="NODE_ENV" value="production" />
        <add key="PORT" value="5001" />
        <add key="HOST" value="172.17.1.6" />
        <add key="WEBSITE_NODE_DEFAULT_VERSION" value="18.17.0" />
    </appSettings>
</configuration>